[Unit]
Description=Yandex task service

[Service]
WorkingDirectory=/var/www/yandex_xml
ExecStart=/bin/bash -c 'source venv/bin/activate; uwsgi --ini uwsgi.ini'
Restart=always
KillSignal=SIGQUIT
Type=notify
NotifyAccess=all
PIDFile=/run/yandex_xml.pid

[Install]
WantedBy=multi-user.target
